body {
  background-color: #3494e4;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.center {
  text-align: center;
}

.standard-margin {
  margin: 10px 0px 10px 0px;
}

.main-container, .sub-containers {
  margin: auto;
  display: flex;
}

.main-container {
  background-color: #ffffff;
  color: #144fc6;
  height: 330px;
  width: 150px;
  border: 4px solid #144fc6;
  border-radius: 0px 0px 40px 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.total-litres {
  font-weight: bold;
  font-size: 20px;
  margin: 5px;
}

.remaining-litres {
  font-weight: lighter;
  font-size: 12px;
  margin: 5px;
}

.sub-containers {
  flex-wrap: wrap;
  width: 280px;
  font-size: 14px;
  color: #3494e4;
}

.sub-container {
  background-color: white;
  height: 95px;
  width: 50px;
  border: 5px solid #144fc6;
  border-radius: 0px 0px 15px 15px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}